<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
        content="Educational Books, e-Learning, Kids Learning, Educational Resources, Online Education">
    <meta name="description"
        content="Your Gateway to Educational Excellence. My Book Publishers offers smarter books for smarter minds, with digital learning resources and interactive content for kids and students.">
    <meta name="copyright" content="My Book Publishers">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>My Book Publishers - Your Gateway to Educational Excellence</title>

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- CSS Libraries (via CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="css/datepicker.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <style>
        html {
            scroll-behavior: smooth !important;
        }
        .btn {
            color: white !important;
        }
    </style>
</head>

<body>

    <%- include('components/preloader') %>
        <header class="header">
            <%- include('components/topbar') %>
                <%- include('components/inner_header') %>
        </header>
        <%- include('components/breadcrumbs', { backgroundImage: 'img/bread-bg.jpg' , Text: 'Edu-Games' }) %>
            >

            <!-- Start Games Listing Section -->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img src="img/games-covers/AbcTracing.png" class="card-img-top" alt="ABC Tracing">
                                <div class="card-body">
                                    <h5 class="card-title">ABC Tracing</h5>
                                    <p class="card-text mb-4">Help kids learn the alphabet in a fun and interactive way with this ABC Tracing Game. Trace letters and enjoy the journey of learning!</p>
                                    <a href="/abc-tracing" class="btn btn-primary">Play!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img src="img/games-covers/AlphabetGame.png" class="card-img-top" alt="Alphabet Game">
                                <div class="card-body">
                                    <h5 class="card-title">Alphabet Game</h5>
                                    <p class="card-text mb-4">Game where the kids learns and exercises his knowledge with letters, alphabet and objects.</p>
                                    <a href="/alphabet-game" class="btn btn-primary">Play!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img src="img/games-covers/ObjectsGame.png" class="card-img-top" alt="Alphabet Game">
                                <div class="card-body">
                                    <h5 class="card-title">A-Z Objects</h5>
                                    <p class="card-text mb-4">Game where kids playing with objects and learning the alphabet at the same time.</p>
                                    <a href="/objects-game" class="btn btn-primary">Play!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img src="img/games-covers/OrganizeGame.png" class="card-img-top" alt="Alphabet Game">
                                <div class="card-body">
                                    <h5 class="card-title">Organize Alphabets</h5>
                                    <p class="card-text mb-4">Arrange the letters in the correct alphabet order, learn by playing. Perfect for kids learning letters and reading.</p>
                                    <a href="/organize-game" class="btn btn-primary">Play!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img src="img/games-covers/DrawAlphabetsGame.png" class="card-img-top" alt="Alphabet Game">
                                <div class="card-body">
                                    <h5 class="card-title">Draw Alphabets</h5>
                                    <p class="card-text mb-4">Game where the kids learns and exercises his knowledge with letters, alphabet and objects.</p>
                                    <a href="/drawAlphabets-game" class="btn btn-primary">Play!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img src="img/games-covers/LetterGame.png" class="card-img-top" alt="Alphabet Game">
                                <div class="card-body">
                                    <h5 class="card-title">What Letter</h5>
                                    <p class="card-text mb-4">Game where the kids learns and exercises his knowledge with letters, alphabet and objects.</p>
                                    <a href="/letter-game" class="btn btn-primary">Play!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Games Listing Section -->

            <%- include('components/footer') %>


                <!-- jquery Min JS -->
                <script src="js/jquery.min.js"></script>
                <!-- jquery Migrate JS -->
                <script src="js/jquery-migrate-3.0.0.js"></script>
                <!-- jquery Ui JS -->
                <script src="js/jquery-ui.min.js"></script>
                <!-- Easing JS -->
                <script src="js/easing.js"></script>
                <!-- Color JS -->
                <script src="js/colors.js"></script>
                <!-- Popper JS -->
                <script src="js/popper.min.js"></script>
                <!-- Bootstrap Datepicker JS -->
                <script src="js/bootstrap-datepicker.js"></script>
                <!-- Jquery Nav JS -->
                <script src="js/jquery.nav.js"></script>
                <!-- Slicknav JS -->
                <script src="js/slicknav.min.js"></script>
                <!-- ScrollUp JS -->
                <script src="js/jquery.scrollUp.min.js"></script>
                <!-- Niceselect JS -->
                <script src="js/niceselect.js"></script>
                <!-- Tilt Jquery JS -->
                <script src="js/tilt.jquery.min.js"></script>
                <!-- Owl Carousel JS -->
                <script src="js/owl-carousel.js"></script>
                <!-- counterup JS -->
                <script src="js/jquery.counterup.min.js"></script>
                <!-- Steller JS -->
                <script src="js/steller.js"></script>
                <!-- Wow JS -->
                <script src="js/wow.min.js"></script>
                <!-- Magnific Popup JS -->
                <script src="js/jquery.magnific-popup.min.js"></script>
                <!-- Counter Up CDN JS -->
                <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
                <!-- Bootstrap JS -->
                <script src="js/bootstrap.min.js"></script>
                <!-- Main JS -->
                <script src="js/main.js"></script>
</body>

</html>