<!doctype html>
<html class="no-js" lang="zxx">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Educational Books, e-Learning, Kids Learning, Educational Resources, Online Education">
		<meta name="description" content="Your Gateway to Educational Excellence. My Book Publishers offers smarter books for smarter minds, with digital learning resources and interactive content for kids and students.">
		<meta name="copyright" content="My Book Publishers">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
		<title>My Book Publishers - Your Gateway to Educational Excellence</title>
		
		<!-- Favicon -->
		<link rel="icon" href="img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
		
		<!-- CSS Libraries (via CDN) -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
		
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="css/nice-select.css">
		<!-- icofont CSS -->
		<link rel="stylesheet" href="css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="css/datepicker.css">
		<!-- Magnific Popup CSS -->
		<link rel="stylesheet" href="css/magnific-popup.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/responsive.css">
	
        <style>
html {
  scroll-behavior: smooth !important;
}
        </style>
	</head>
	
    <body>
	
        <%- include('components/preloader') %>
        <header class="header">
            <%- include('components/topbar') %>
            <%- include('components/inner_header') %>
        </header>
		<%- include('components/breadcrumbs', { 
			backgroundImage: 'img/bread-bg.jpg', 
			Text: 'Paper Generation' 
		}) %>
		>

<!-- Start Paper-Generation Section -->
<section class="paper-generation section">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="paper-generation-content">
                        <h2>My Book Publishers Paper-Generation Tool</h2>
                        <p>
                            Simplify the process of creating customized assessments with the My Book Publishers Paper-Generation Tool. Designed for teachers and educational institutions, our innovative tool allows you to generate exams and practice papers tailored to your curriculum and student needs. With a variety of question formats, subject coverage, and automated paper design options, we make exam preparation efficient, precise, and stress-free. Empower your teaching experience and give your students the best resources to succeed academically.
                        </p>
                        <a href="https://papers.mybookpublishers.org" style="color: #fff;" class="my-4 btn btn-primary">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="paper-generation-video">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/your-video-id" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Paper-Generation Section -->


<%- include('components/footer') %>

		
		<!-- jquery Min JS -->
        <script src="js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="js/easing.js"></script>
		<!-- Color JS -->
		<script src="js/colors.js"></script>
		<!-- Popper JS -->
		<script src="js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="js/steller.js"></script>
		<!-- Wow JS -->
		<script src="js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Main JS -->
		<script src="js/main.js"></script>
    </body>
</html>